Source: glue-schema
Section: net
Priority: optional
Maintainer: Mattias Ellert <mattias.ellert@fysast.uu.se>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.4

Package: glue-schema
Architecture: all
Description: LDAP schema files for the GLUE Schema
 LDAP schema files for the GLUE Schema version 2.0
